*{
    font-family: 'Montserrat', sans-serif;
}

body{
    scroll-behavior: smooth;
}

.foto-mision{
    margin-top: 5rem;
    padding: 2rem;
    background-image: url("./imagenes/mision.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.map-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sombras{
    text-shadow: 2px 2px #00000027;
}

.boton-amarillo{
    display: block;
    width: 80%;
    text-align: center;
    background-color:rgb(250, 226, 13);
    padding: 0.75rem;
    border-radius: 2rem;
    color: black;
    text-decoration: none;
    border: 0;
    margin: 1rem;
}

.boton-amarillo:hover{
    background-color: black;
    color: rgb(250, 226, 13);
    transition: .5s;
}

.fondo-amarillo{
    background-color: rgb(250, 226, 13);
}